* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

html {
    font-size: 60%;
    /* overflow: hidden; */
    scroll-padding: 6rem;
    scroll-behavior: smooth;
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: radial-gradient(circle at 33% 100%, #ffe9b9 4%, #d78e88 30%, #eea9c9 62%, #afe492 85%);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.84);
}
.logo{
    height: 4rem;
    border-radius: 100%;
    transition: transform .2s;
}.logo:hover{
    box-shadow: 2px 2px 5px rgb(89, 89, 89);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}


.navbar a {
    color: rgb(255, 255, 255);
    padding: 2rem;
    font-size: small;
   
}

.navbar a:hover {
    color: cadetblue;
   
}
.nav-list{
    font-weight: 1000;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);

}
header .icon a{
    font-size: 2rem;
    color: black;
    margin-left: 1.5rem;
    transition: transform .2s;
    
}
header .icon a:hover{
    color: rgb(145, 197, 199);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}
#menu-bar{
font-size: 2rem;
padding: .5rem;
border: 2px solid black;
color: black;
border-radius: .3rem;
cursor: pointer;
display: none;

}
.blog{
    padding-top: 8rem;
}
/* shoes photo */






/* CSS Variables */
:root{
    --headers: #202125;
    --background:  #4d4d4d;
    --grey: #9c3a3a;
    --lightgrey: #d2d2d2;
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.473);
    --hover: 0 3px 10px rgba(203, 167, 167, 0.205);
}


.btn{
    background-color: var(--lightgrey);
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 10px;
    transition-duration: 0.4s;
}

.btn:hover{
    box-shadow: var(--shadow);
    transition-duration: 0.4s;
    cursor: pointer;
}




/* PRODUCTS */
.product-container{
    
    margin-left: 10%;
    margin-right: 13%;
    display:grid;
    grid-template-columns: 233px 233px 233px;
    grid-row: auto auto auto;
    grid-column-gap: 140px;
    grid-row-gap: 20px;
}

.card{

  
    min-height: 350px;
    width: 350px;
    margin: auto;
    border-radius: 5px;
  
box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.473);
transform: scale(1.02px); 


}
.card:hover{
    -ms-transform: scale(1.02); 
    -webkit-transform: scale(1.02); 
    transform: scale(1.02);
}
  




.card h4{
    margin: 20px 10px 15px 15px;
}

.card .btn{
    margin: 0px 0px 10px 15px;
}

.product1{
    /* background: url(shooe1.jpg); */
    min-height: 250px;
}

.product2{
    /* background: url(shooe1.jpg); */
    min-height: 250px;
}

.product3{
    /* background: url(http://mistillas.cl/wp-content/uploads/2018/04/Nike-Epic-React-Flyknit-%E2%80%9CPearl-Pink%E2%80%9D-01.jpg); */
    min-height: 250px;
}

.product4{
    /* background: url(https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/img/Ultraboost.jpg); */

    min-height: 250px;
   
}
.product5{
    /* background: url(https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/img/Airmax-97.jpg); */
    min-height: 250px;
}
.product6{
    /* background: url(https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/img/Airmax-97.jpg); */
    min-height: 250px;
}
.product7{
    /* background: url(https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/img/Airmax-97.jpg); */
    min-height: 250px;
}
.product8{
    /* background: url(https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/img/Airmax-97.jpg); */
    min-height: 250px;
}
.product9{
    /* background: url(https://github.com/az4726/Sneaker-Shop-Website/raw/3aa4d117c3d4fd663d515574cf9a2121cb224d1c/img/Airmax-97.jpg); */
    min-height: 250px;
}



















.slider-container {
    margin-top: 2rem;
    background: radial-gradient(circle at 33% 100%, #ffe9b99f 4%, #d78f889a 30%, #eea9c991 62%, #afe4929d 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .slider {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow:2px 5px 25px #000;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }
  
  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 2%;
  }
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 2%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 15px;
    height: 15px;
    border: solid rgb(0, 0, 0);
    border-width: 0 2px 2px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin: 0 10px 0 10px;

  }
  
  .loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .loader-container img{
    width:35rem;
  }

  .loader-container.fade-out{
    top:110%;
    opacity:0;
  }


  
  
  
  
  
  
  .read-article{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
   background: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: arial;
    text-decoration: none;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px;
  }
  .read-article:hover{
      background: #d5d5d5;
      box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
  }
  iframe[sandbox] .read-article{
    display: none;
  }

















/* ===========================================
contact Section Start
======================================= */

  .section-contact-main {
    
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
  }
  
.common-heading{
    padding-top: 7rem;
    padding-left: 4rem;
    color:  rgb(89, 89, 89);
    font-size: 40px;
    

}

  .section-contact-main .grid {
    gap: 3.2rem;
  }
  

.grid-two-column{
    max-width: 100%;
    flex-direction: row;
    display: flex;
    padding: 0px 20%;


}

  .section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .section-contact-main input,
  .section-contact-main textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 100%;
  }
  
  .section-contact-main input[type="submit"] {
    max-width: 25%;
    height: 50px;
    padding: 4px;
    background: radial-gradient(circle at 33% 100%, #ffe9b99f 4%, #d78f889a 30%, #eea9c991 62%, #afe4929d 85%);
    border: none;
    color:rgb(47, 47, 47);;
    font-size: large;
    transition: transform .2s;
    border: 0.01px solid rgb(89, 89, 89);;
    font-size: large;
}


.section-contact-main input[type="submit"]:hover{
     box-shadow: 2px 2px 5px rgb(89, 89, 89);
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 






































/* blog  */

.blog .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.blog .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}
.blog .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin: 1rem 0;
    border: 4px solid #ddd;
}
.blog .box-container .box img:hover{
   transform: scale(1.2);
}
.blog .box-container .box h3{
    font-size: 2.5rem;
    color: #000;
}
.blog .box-container .box p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
.blog .box-container .box .stars i{
    color: orangered;
    font-size: 2rem;
}



/* footer */

    
footer {
    margin-top: 50px;

    text-align: center;
    padding: 25px;
    color: rgb(53, 53, 53);
    flex: content;
    columns: 4;
    font-size: 15px;
    font-weight: bold;
    background: radial-gradient(circle at 33% 100%, #ffe9b99f 4%, #d78f889a 30%, #eea9c991 62%, #afe4929d 85%);
  
  }
  






























/* Media Queries */
@media(max-width:1050px){
    h3{
        margin: 0px 0px 0px 50px;
        padding: 20px 0px;
    }
    .product-container{
        display: inline;
        gap: 10px;
        margin: auto;
    }
    .card{
        margin-bottom: 10px;
    }
}

@media(max-width:800px){
    .contact-form{
        min-width: 500px;
    }
    .contact-form h3{
        font-size: 20px;
        margin-right: 0px;
    }
}

@media(max-width:700px){
    h3{
        margin: 0px 0px 0px 50px;
        padding: 20px 0px;
    }
    .banner h1{
        font-size: 36px;
    }
}


@media(max-width:600px){
    body{
        background: url(../img/NMD-Black-600.png);
        background-size: auto;
        background-position: top;
    }
    .logo {
        width: 75px;
        display: block;
        margin: auto;
    }
    li{
        display: block;
        margin: 1rem;
    }
    .banner h1{
        margin-top: 100px;
        font-size: 36px;
    }
    .contact-form{
        min-width: 300px;
    }
    .about h2{
        font-size: 24px;
    }
    .about p{
        font-size: 18px;
    }
    footer p{
        font-size: 12px;
    }
}

















/* responsive */
@media (max-width:768px){
    #menu-bar{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background-color: aliceblue;
        border-top: .1rem solid rgba(0,0, 0, .1);
        /* padding: 10px; */
    }
    header .navbar a{
        font-size: 2rem;
        background: rgb(255, 255, 255);
        border: .1rem solid black;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
        color: black;
       text-shadow: none;

    }
    header .navbar.active{
        left: 0;
    }
}